@import "variables";

h1 {
	padding: 50px 0;
	font-family: $hero;
	text-align: center;
	font-size: 3em;
	text-transform: uppercase;
	color: #C6C6C6;
}

/* --------- Header --------- */

header {
    background: #fff;
    background: #fff;
  	position: fixed;
    width: 100%;
    z-index: 1;
    border-bottom: 3px solid #ff0000;
}

#headerContent {
	display: flex;
    justify-content: space-between;
    align-items: center;
	margin: 0 auto;
	padding: 10px 20px;
}


#headerContent img {
	width: 150px;

}

#title {
	left: 180px;
	position: absolute;
	font-size: 2em;
	font-family: $hero;
	color: $secColor;
}
	

nav {
    font-size: 1.2em;
}



/* --------- Main: Home --------- */
main {
	height: 100%;
}

.hero {
	margin: 0 auto;
}

figure {
	margin-top: 90px;
}

figcaption {
	position: absolute;
	font-size: 3vw;
	padding: 20px;
	font-family: $hero;
	color: $secColor;
	text-transform: uppercase;
	text-shadow: #fff 3px 2px;
}

figure img {
	max-height: 90vh;
	width: 100%;
}

.sectionContent {
	width: 70%;
	margin: 0 auto;
	padding: 50px 0;
	display: flex;
	justify-content: space-evenly;
}

section:nth-child(odd) {
	background: red;
}

.box {
	width:100%;
	text-align: center;
}

