@import "variables";

body{
	width: 70%;
	margin: 0 auto;
}

/* --------- Header --------- */

header {
    background: #fff;
    display: flex;
    align-items: center;
    border:1px solid grey;
	
	a{
		img {
			width: 220px;
		}
	}	

    nav {
        position: absolute;
        right: 0;
        font-size: 1.2em;

        ul {
            li {
                border: 3px solid $mainColor;

                a {
                    color: #fff;
                }

                #sum,
                #sum2 {
                    padding-left: 10px;
                    color: #A7A7A7;
                }

                #sum:after,
                #sum2:after {
                    content: '€';
                }
            }

            li:hover,
            .current {
                border-bottom: 3px solid $secColor;
                transition: border-color 1s ease;
            }
        }
    }
}